
.mint-card__wrapper {
    position: relative;
    margin: auto;
    /* background: #000; */
    width:  95%;
    height: 600px;
    left: -15px;
}
.mint__card__background-1 {
    width: 100%;
    height: 100%;
    position:absolute;
    background: #000000;
    border-radius: 40px;
    transform: translate(20px, 20px);
}

.mint__card__background-2 {
    width: 100%;
    height: 100%;
    position:absolute;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 40px;
    transform: translate(16px, 16px);
}

.mint__card__background-3 {
    width: 100%;
    height: 100%;
    position:absolute;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 40px;
    transform: translate(13px, 13px);
}

.mint__card__background-4 {
    display: flex;
    width: 100%;
    height: 100%;
    position:absolute;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 40px;
    transform: translate(10px, 10px);
    justify-content: center ;
    align-items: center;
}

.Mint__Card {
    background-color: #ededed;
    border: 1px solid #000000;
    border-radius: 32px;
    width: 95%;
    height: 95%;
}


.Card {
    padding: 1.2rem;
    z-index: 5;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 32px;
    margin: auto;
    width: min(100%, 500px);
    font-family: "Inter";
    position: relative;
    display: none;
  }


.Mint__Card {
    background-color: #ededed;
    border: 1px solid #000000;
    border-radius: 32px;
    z-index: 4;
}


.Card__Head {
    display: flex;
    border-bottom: 1px solid black;
  }

  .party__div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-right: 1px solid black;
  }

  .Header__Text {
    font-weight: 700;
    text-align: start;
    padding: 10px;
    overflow-wrap: break-word;
  word-wrap: break-word;
  }

  .Header__Text strong {
    font-size: 15px;
    line-height: 25px;
  }


  .SocksCardImage {
    padding: 0.7rem;
  }

  .SocksCardImage img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 80%;
  }

  .Footer__Text {
    padding: 0.4rem 1rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
  }

  .Mint span {
    padding: 1rem 2rem;
    background-color: #000000;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    border-radius: 40px;
  }

  .mint__button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 32px;
    /* or 229% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF !important;
    background: #000000 !important;
  }


  @media screen and (min-width: 768px) {
    .mint-card__wrapper {
       width:  50%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .mint-card__wrapper {
        width:  30%;
     }
  }