.Heros {
  min-height: 100vh;
  position: relative;
}
.Heros .Background__Socks__Container {
  width: 100%;
}
.Heros .Background__Socks__Container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Heros .Card__Container {
  width: 100%;
  padding: 0 1rem;
  position: absolute;
  top: 140px;
}
.Heros .Card__Container .Container__Element {
  position: relative;
}
.Heros .Card__Container .Card {
  padding: 1.2rem;
  z-index: 5;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 32px;
  margin: auto;
  width: min(100%, 500px);
  font-family: "Inter";
  position: relative;
}
.Heros .Card__Container .Card .Mint__Card {
  background-color: #ededed;
  border: 1px solid #000000;
  border-radius: 32px;
  z-index: 4;
}
.Heros .Card__Container .Card .Mint__Card .Card__Head {
  display: flex;
  border-bottom: 1px solid black;
}
.Heros .Card__Container .Card .Mint__Card .Card__Head .party__div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-right: 1px solid black;
}
.Heros .Card__Container .Card .Mint__Card .Card__Head .Header__Text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 0.2rem 1rem;
}
.Heros .Card__Container .Card .Mint__Card .Card__Head .Header__Text strong {
  font-size: 22.5px;
  line-height: 25px;
}
.Heros .Card__Container .Card .Mint__Card .SocksCardImage {
  padding: 0.7rem;
}
.Heros .Card__Container .Card .Mint__Card .SocksCardImage img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.Heros .Card__Container .Card .Mint__Card .Footer__Text {
  padding: 0.4rem 1rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
}
.Heros .Card__Container .Card .Mint__Card .Footer__Text b {
  font-weight: 500;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
}
.Heros .Card__Container .Card .Mint__Card .Footer__Text b span {
  font-weight: 900;
}
.Heros .Card__Container .Card .Mint__Card .Footer__Text b a {
  color: #2a7df9;
}
.Heros .Card__Container .Card .Mint__Card .Mint {
  margin: 1.5rem auto;
}
.Heros .Card__Container .Card .Mint__Card .Mint span {
  padding: 1rem 2rem;
  background-color: #000000;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  border-radius: 40px;
}
.Heros .Card__Container .Background__Image {
  position: absolute;
  height: 100%;
  width: min(100%, 500px);
  z-index: 3;
  top: 20px;
  left: 20px;
  right: 0;
  bottom: 0;
  margin: auto;
}
.Heros .Card__Container .Background__Image img {
  width: 100%;
  height: 100%;
}
.Heros .Background__clouds {
  display: none;
}
@media (min-width: 960px) {
  .Heros .Background__clouds {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
  }
  .Heros .Background__clouds .Cloud__1 {
    position: absolute;
    top: 5vh;
    left: 8vw;
  }
  .Heros .Background__clouds .Cloud__2 {
    position: absolute;
    top: 45vh;
    left: 0vw;
  }
  .Heros .Background__clouds .Cloud__3 {
    position: absolute;
    top: 75vh;
    left: 25vw;
  }
  .Heros .Background__clouds .Cloud__4 {
    position: absolute;
    top: 45vh;
    right: 15vw;
  }
  .Heros .Background__clouds .Cloud__5 {
    position: absolute;
    top: 15vh;
    right: 25vw;
    z-index: 0;
  }
}/*# sourceMappingURL=Heros.css.map */