.your-socks {
  padding-left: 20px;
  padding-right: 20px;
  z-index: 20;
}

.your-socks__title {
  font-size: 28px;
  font-weight: 900;
  line-height: 1.2;
  font-family: 'Inter';
  font-style: normal;
}

.your-socks__description {
  font-size: 18px;
  font-family: 'Inter';
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  .your-socks__title {
    font-size: 40px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .your-socks {
    padding-left: 120px;
    padding-right: 120px;
    z-index: 20;
  }
}
