.navbar {
  display: flex;
  align-items: center;
  position: relative;
  height: 80px;
  width: 100%;
  padding: 10px;
}

.navbar__menu__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.navbar__menu-item__mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.navbar__menu-item-desktop-content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.navbar .navbar__menu {
  display: none;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  flex: 1;
}

.navbar__account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.navbar__loogie-logo {
  display: block;
  margin-left: 1.2rem;
}

.navbar__menu-item :active {
  border-bottom: 0px solid #000 !important;
}


.Sidebar__Container {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.Sidebar {
  position: absolute;
  background-color: #fff;
  width: 180px;
  padding: 3px;
  animation: movemodal 0.8s;
}
@keyframes movemodal {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
.Sidebar div {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 0;
  font-size: 18px;
  font-weight: 600;
  height: 100%;
}
.Sidebar div a {
  color: #000;
  transition: all 300ms ease-in-out;
}
.Sidebar div a:hover {
  transform: translateY(-2px);
}
.btn {
  position: relative;
  width: 60px;
  height: 40px;
}

/* Menu button */

@media (min-width: 900px) {
  .navbar {
    width: max(900px, 100%);
  }
  .Sidebar__Container {
    display: none;
  }
  .navbar__menu-item__mobile {
    display: none;
  }
  .navbar .navbar__menu {
    display: flex;
    border-top: none;
  }
}
