.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem 1.5rem 2rem;
  position: relative;
  height: 80px;
}

.navbar__menu__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1, 0, 0;
  width: 33.33%;
}

.navbar__menu-item__mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navbar__menu {
  display: none;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 33.33%;
  /* flex: 1, 0, 0; */
  margin-bottom: 0.5rem;
}

.navbar__account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33.33%;
  flex: 1, 0, 0;
}

.navbar__loogie-logo {
  display: block;
  margin-left: 1.2rem;
}

/* .navbar__menu-item-mobile-content {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.navbar__menu-item svg {
  color: #fff;
}

.navbar__menu-item.ant-menu-item-active svg,
.navbar__menu-item.ant-menu-item-selected svg {
  color: #a056ff;
}

@media (min-width: 900px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: relative;
    height: 80px;
  }
  .navbar__menu-item__mobile {
    display: none;
  }
  .navbar .navbar__menu {
    display: flex;
    border-top: none;
  }
}

/* @media screen and (min-width: 1440px) {
  .navbar__menu-item-desktop-content {
    display: block;
  }

  .navbar__menu-item-mobile-content {
    display: none;
  }
} */
